* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}
.parent {
    width: 479px;
    height: 479px;
    border: 2px solid;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 300px;
}
.black {
    width: 95px;
    height: 95px;
    display: inline-block;
    background-color: black;
}
.white {
    width: 95px;
    height: 95px;
    display: inline-block;
    background-color: rgb(176, 172, 172);
}