.c {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.d {
    width: 200px;
    height: 200px;
    background-color: rgb(223, 230, 148);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    
    
}
span {
    width: 100px;
    height: 100px;
    background-color: rgb(171, 95, 241);
    margin-top: 50px;
    position: absolute;
    z-index: 2;
}
.p {
    width: 100px;
    height: 100px;
    background-color: rgb(69, 68, 70);
    margin-top: 50px; 
    position: absolute;
    z-index: 1;
}
.s1:hover {
    transform: rotate(45deg);
    transition:all 2s 2s;
}
.s2:hover {
    transform: scaleY(0.5);
    transition:all 2s 2s;
   
}
.s3:hover {
    transform: scaleX(0.5);
    transition:all 2s 2s;
    
}
.s4:hover {
    transform: scale(1.5);
    transition:all 2s 2s;
}
.s5:hover {
    transform: scalex(1.5);
    transition:all 2s 2s;
}
.s6:hover {
    transform: scaley(1.5);
    transition:all 2s 2s;
}
.s7:hover {
    transform: skew(45deg);
    transition:all 2s 2s;
}
.s8:hover {
    transform: skew(-45deg);
    transition:all 2s 2s;
}
.s9:hover {
    transform: Translate(40px,40px);
    transition:all 2s 2s;
}
.s10:hover {
    transform: Translatex(40px);
    transition:all 2s 2s;
}
.s11:hover {
    transform: Translatey(40px);
    transition: all 2s 2s;
}
.s12:hover {
    transform: skew(-30deg) scale(1.5) translatey(-20px);
    transition: ease 2s 2s;
    
    
}
.s13:hover {
    transform: perspective(100px) rotateX(60deg);
    transition: all 2s 2s;
}
.s14:hover {
    transform: perspective(100px) rotatey(70deg);
    transition: all 2s 2s;
}
.s15:hover {
    transform: rotate(45deg);
    transition: ease-out 2s 2s;  
}
.s15 {
    transform-origin: top right; 
}

.s16:hover {
    transform: rotate(45deg);
    transition: ease-out 2s 2s;
}
.s16 {
    transform-origin: bottom left; 
}
.s17:hover {
    transform: perspective(200px) rotatex(30deg);
    transform-origin: bottom;
    transition: all 2s 2s;
}
.s18:hover {
    transform: perspective(300px) rotatex(70deg);
    transform-origin: top;
    transition: all 2s 2s;
}
.s19:hover {
    transform: perspective(300px) rotatey(50deg);
    transform-origin: left;
    transition: all 2s 2s;
}
.s20:hover {
    transform: perspective(300px) rotatey(60deg);
    transform-origin: right;
    transition: all 2s 2s;
}
.s21:hover {
    transform: perspective(300px) scale(2);
    transform-origin: top right;
    transition: all 2s 2s;
}
.s22:hover {
    transform: perspective(300px) scale(2);
    transform-origin: bottom left;
    transition: all 2s 2s;
}
.s23:hover {
    transform: perspective(300px) scalex(1.5);
    transform-origin: right;
    transition: all 2s 2s;
  
}
.s24:hover {
    transform: perspective(300px) scalex(1.5);
    transform-origin: left;
    transition: all 2s 2s;
   
}
.s25:hover {
    transform: perspective(300px) scaley(1.5);
    transform-origin: top;
    transition: all 2s 2s;
}
.s26:hover {
    transform: perspective(300px) scaley(1.5);
    transform-origin: bottom;
    transition: all 2s 2s;
}
 
 

 




