.parent  {
    position: relative;
}
.one {
    background-color: blue;
    border: 2px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
}

.two {
    background-color: blueviolet;
    border: 2px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 2;
}
