* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(12, 12, 102);

}




.blue {
   background-color: rgb(12, 12, 102);
   width: 200px;
   height: 200px;
   border-radius: 50%;
   position: absolute;
   bottom: 20px;
   right: 30px;
   



}
.yellow {
   width: 200px;
   height: 200px;
   border-radius:50% ;
   background-color: rgb(234, 240, 124);
   position: absolute;
   top: 400px;
   left: 400px;
   
   
}